{% extends 'master/base.html' %}

{% block content %}

<div class="card">

  <div class="row g-0">

    <div class="col-md-4">

        {% if profile.profile_image %}
    <img src="{{ profile.profile_image.url }}"
         alt="Profile Image"
         class="img-fluid rounded-start">
{% else %}
    <p>No profile image uploaded.</p>
{% endif %}

    </div>



    <div class="col-md-8">

      <div class="card-body">

        <h3>{{profile.name}}</h3>

        <p><strong>Email : </strong>
            {{profile.email}}
        </p>
        <p><strong>Gender : </strong>
            {{profile.gender}}
        </p>
        <p><strong>AGE : </strong>
            {{profile.age}}
        </p>
        
        
        <a href="?edit=true" class="btn btn-primary">Edit</a>
        <form method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" 
            name="delete_profile" 
            class="btn btn-danger">

            Delete

            </button>
        </form>
            
      </div>
    </div>
  </div>
</div>
    
{% endblock content %}
    